/* Start Global Styles */
body {
  font-family: "Nunito Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

:root {
  --main-color: #e65f78;
  --bg-main-light: #f8f9f1;
}

.main-color {
  color: var(--main-color);
}

.bg-main-light {
  background-color: var(--bg-main-light);
}

.bg-second-color {
  background-color: #e65f78;
}

.padding-section {
  padding: 70px 0;
}
/* End Global Styles */

/* Start Navbar Styles */
.MyNav {
  background-color: white;
  
}

nav .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.65)
;
}

nav .navbar-nav .nav-link.active {
  color: var(--main-color);
  transition: 0.5s all ease-in-out;
}

nav .nav-link.active:hover {
  color: var(--main-color);
}

nav .navbar-nav .nav-link {
  transition: 0.5s all ease-in-out;
}

nav .navbar-nav .nav-link:hover {
  color: var(--main-color);
}
/* End Global Styles */

/* Start Header Styles */
header{
    background-image:linear-gradient( rgba(0,0,0,0.723),rgba(0,0,0,0.723)), url("../Images/header-bg.jpg");
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-content button{
   background-color: transparent;
   border-color: white;
   color: white;
   transition: 0.4s all ease-in-out;   
}

.home-content button:hover{
   background-color: white;
   color: #000; 
}

.home-content h1{
   font-size: 60px;
}

.home-content .pra{
   color: rgba(255, 255, 255, 0.5);
}

.setting{
    position: fixed;
    top: 20%;
    left: 0;
    background-color: #222222;
    padding: 7px;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    cursor: pointer;
}

.arrow{
    position: fixed;
    top: 92%;
    left: 96%;
    background-color: var(--main-color);
    padding: 8px;
    border-radius: 4px 4px 4px 4px;
    z-index: 1000;
    cursor: pointer;
}

.bounce{
    position: absolute;
    bottom: 10%;
    left: 49%;
    transform: translateX(-50%);
    width: 40px;
    height: 80px;
    border: 2px solid white;
    border-radius: 25px;
    z-index: 1000;
}

.bounce .inner{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 15px;
    background-color: white;
    border-radius: 4px;
    
}
/* End Header Styles */

/* Start About Styles */
.about .about-content h2{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: rgb(33, 37, 41);
}

.about .about-content h2 span{
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: rgb(33, 37, 41);
}

.about .about-content h3{
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: rgb(33, 37, 41);
}

.about .about-content h3 span{
    color: rgb(230, 95, 120);
}

.about .about-content p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(33, 37, 41, 0.75);
}
.about .about-content .icon-about{
    border: 2px solid #E4E1E1;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   transition: all 0.3s ease-in-out;
}

.about .about-content .icon-about:hover{
    color: var(--main-color);
    border-color: var(--main-color);
}
/* End About Styles */

/* Start Services Styles */
.services{
background-color: #F8F9FA;
}

.services .section-header h2{
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: rgb(33, 37, 41);
}

.services .section-header h2 span{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: rgb(33, 37, 41);
}

.services .section-header p{
    font-style: normal; 
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(33, 37, 41, 0.75);
}

.services .service-box .card-body h5{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: rgb(33, 37, 41);
}
.services .service-box .card-body h5::after{
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background-color: var(--main-color);
    margin: 10px auto 0 auto;
    transition: all 0.4s ease-in-out;
}

.services .card:hover .card-body h5::after{
    width: 60px;
}

.card {
  background-color: #F8F9FA;
}  
/* End Services Styles */

/* Start Hire Styles */
.hire .section-header h2{
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: rgb(33, 37, 41);
}

.hire .section-header button{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: white;
    background-color: var(--main-color);
    border-radius: 6px;
    transition: all 0.4s ease-in-out;
    padding : 10px 35px;
}

.hire .section-header button:hover{
    background-color: #B9495E; 
}
/* End Hire Styles */

/* Start Client Styles */
.client{
  background-color: #F8F9FA;
}

.client .section-header h2{
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: rgb(33, 37, 41);
}

.client .section-header h2 span{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: rgb(33, 37, 41);
}

.client .section-header p{
    font-style: normal; 
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(33, 37, 41, 0.75);
}

.carousel-inner .carousel-item img{
    border-radius: 50%;
}

.carousel-inner .carousel-item .img-carousel{
   padding-bottom: 20px;
}

.carousel-caption{
    position: static;
}

.carousel-item .pra-1{
  font-style: normal; 
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: rgba(33, 37, 41, 0.75);
}

.carousel-item .pra-2{
  font-style: normal; 
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgb(108, 117, 125);
}

.carousel-item .pra-2 span{
  font-style: normal; 
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: rgb(0, 0, 0);
}

.carousel-indicators [data-bs-target]{
    width: 15px;
}

.carousel-indicators [data-bs-target].active{
    width: 25px;
}
/* End Client Styles */

/* Start Work Styles */
.portfolio .section-header h2{
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: rgb(33, 37, 41);
}

.portfolio .section-header span{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: rgb(33, 37, 41);
}

.portfolio .section-header p{
    font-style: normal; 
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(33, 37, 41, 0.75);
}

.nav .nav-item button.active{
  background-color: #E65F78;
  color: white;
}
.nav .nav-item button{
  color: black;
  font-style: normal; 
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}   

.card {
  position: relative;
  overflow: hidden;
}
.work-overlay {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  color: #fff;
  transition: bottom 0.4s cubic-bezier(.4,0,.2,1);
  z-index: 2;
  text-align: center;
}
.card:hover .work-overlay {
  bottom: 0;
}
.overlay-text p {
  color: rgb(255, 255, 255);
  font-style: normal; 
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.overlay-text h4 {
  color: rgb(255, 255, 255);
  font-style: normal; 
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
/* End Work Styles */

/* Start Blog Styles */
.blog{
  background-color: #F8F9FA;
}

.blog .section-header h2{
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: rgb(33, 37, 41);
}

.blog .section-header span{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: rgb(33, 37, 41);
}

.blog .section-header p{
    font-style: normal; 
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(33, 37, 41, 0.75);
}

.blog .card-body h5{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: rgb(33, 37, 41);
}

.blog .card-body p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgb(33, 37, 41);
}

.blog .card-body p span{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: rgb(230, 95, 120);
}

.blog .card-body a{
    color: rgb(108, 107, 107);
   
}

/* End Blog Styles */

/* End Contact Styles */

.contact .section-header h2{
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: rgb(33, 37, 41);
}

.contact .section-header span{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: rgb(33, 37, 41);
}

.contact .section-header p{
    font-style: normal; 
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(33, 37, 41, 0.75);
}

.contact button{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: white;
    background-color: var(--main-color);
    border-radius: 6px;
    padding : 15px 30px;
}
/* End Contact Styles */

/* Start Footer Styles */
footer{
    background-color: #212121;
    color: rgba(255, 255, 255, 0.5);
}

footer .icon-about{
  color: white;
    background-color: #313131;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   transition: all 0.3s ease-in-out;
}

footer .icon-about:hover{
    color: var(--main-color);
}
/* End Footer Styles */
